<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactus</title>
    <style>
        body{
            text-align: center;
        }
        h1{
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Welcome to our contact page</h1>
    <h3>Below are the mentioned all our contact detail</h3>
    <span><p>Mob:9709993152</p></span>
    <span><p>Email:nafeesrz@iul.ac.in</p></span>
    <span><p>Linkedin:nafees-razalinkedin2020/2134/</p></span>
</body>
</html>